.not-found-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.not-found-wrapper .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background: radial-gradient(circle, #240015 0%, #12000b 100%);
  z-index: -1;
}

.not-found-wrapper h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  font-size: 32px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 300;
  font-family: Audiowide, sans-serif;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 3.5s forwards,
    flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
}

.not-found-wrapper #svgWrap_1,
.not-found-wrapper #svgWrap_2 {
  position: absolute;
  width: 600px;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: hueRotate 6s ease-in-out 3s infinite;
}

.not-found-wrapper #id1_1,
.not-found-wrapper #id2_1,
.not-found-wrapper #id3_1 {
  stroke: #ff005d;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

.not-found-wrapper #id1_2,
.not-found-wrapper #id2_2,
.not-found-wrapper #id3_2 {
  stroke: #12000a;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

.not-found-wrapper #id3_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine3 2.5s ease-in-out 0s forwards,
    flicker3 4s linear 4s infinite;
}

.not-found-wrapper #id2_1 {
  stroke-dasharray: 735px;
  stroke-dashoffset: -735px;
  animation: drawLine2 2.5s ease-in-out 0.5s forwards,
    flicker2 4s linear 4.5s infinite;
}

.not-found-wrapper #id1_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine1 2.5s ease-in-out 1s forwards,
    flicker1 4s linear 5s infinite;
}

/* KEYFRAMES */

@keyframes drawLine1 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes drawLine2 {
  0% {
    stroke-dashoffset: -735px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes drawLine3 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes flicker1 {
  0%,
  4%,
  6%,
  14%,
  100% {
    stroke: #ff005d;
  }
  1%,
  3%,
  7%,
  13% {
    stroke: transparent;
  }
}

@keyframes flicker2 {
  0%,
  50%,
  62%,
  100% {
    stroke: #ff005d;
  }
  51%,
  61% {
    stroke: transparent;
  }
}

@keyframes flicker3 {
  0%,
  11%,
  40%,
  46%,
  100% {
    stroke: #ff005d;
  }
  1%,
  10%,
  41%,
  45% {
    stroke: transparent;
  }
}

@keyframes flicker4 {
  0%,
  30%,
  32%,
  36%,
  42%,
  85%,
  96%,
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  31%,
  37%,
  41%,
  86%,
  95% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
}

@keyframes fadeInText {
  1% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  70%,
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 14px #ff005d;
  }
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
